
/* Custom bits
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 { font-size: 1.8rem }

p.subtitle { font-size: 1.4rem}


.docs-section {
  border-top: 1px solid #eee;
  margin-top: 2rem; }

.docs-header {
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    font-weight: 600; }


blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }                    

ol .sidenote, ul .marginnote { margin-right: -82%;
                               min-width: 59%;
                               text-align: left; }  