blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }  
ol, ul { width: 45%;
         -webkit-padding-start: 5%;
         -webkit-padding-end: 5%; }


/* Custom tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

table {
  padding: 1rem 0 1rem 0;
}
